*{
    margin: 0px;          /* marge interieur*/
    padding: O;            /* marge exterieur*/
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif ;

}

 /********** Css pour la menu nav ****************/
 .logoHeader{
    display: flex;
    padding-left: 4%;
    padding-top: 1%;
}
 .navLogo {
    width: 100px;
}
.header{
    display: flex;
}
.navUl{
    display: flex;
    list-style-type: none;
}
ul li {
    display: flex;
    padding: 15px;
}
/************** Menu Burger************/
.mobilescreen{
    display: flex;
    justify-content: end;
}

.menuToggle{
    display: none;
}

#menuToggle
{
    position: fixed;
    top: 3%;
    left: 5%;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span
{
    display: block;
    width: 26px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #010506;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #2C3E50;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg)     
      scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*This is the Menu part, which gets triggered by toggle*/
#menu
{
    position: absolute;
    width: 90vw;
    height: 50vh;
    margin: 0 0 0 -50px;
    padding: 50px;
    background: rgba(236, 240, 241, 0.97);;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: center;

}

#menu li
{
    padding: 15px 0;
    color: #000000;
    list-style-type: none;
    font-size: 1em;
    font-weight: 400;
}

#menu li a {
    color: #2C3E50;
    text-decoration: none;
    text-transformation: uppercase;
}

#menu li a:hover {
    color: #2074f2;
    text-decoration: none;
}

#menuToggle input:checked ~ ul
{
    transform: scale(1.0, 1.0);
    opacity: 1;
}
/****a balise a avec hover (survoller la sourie)****/

a {
    color: black;
}
a:hover {
    color: #0080FF;
}
/************ section bannier ********************/

.sectionBaner{
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 46%;
    max-width: 100%;
    margin-left: 5%;
    margin-top: 5%;
}
.stitchBg{
    width: 100%;
}

.stitchLogo {  
    position: relative; 
    width: 45%;
}

.test{
    display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse
}

.bgstitch2Resp{
    display: none;
}


.btntest{
    display: flex;
    align-self: center;
    background-color: #6c789e;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 18px 30px;
    font-size: 15px;
    font-weight: bold;
    margin-top:15px;
    cursor: pointer;
}

.btnInfo{
    display: flex;
    background: transparent;
    align-self: center;
    color: black;
    border: 2px solid #6c789e;
    border-radius: 50px;
    padding: 18px 60px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    cursor:pointer
}

/************ section 2 ********************/

.sectionPic{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color:#F1F2F3;
    padding: 1% 5% 1% 5%;
}

.block{
    background-color:#ffffff;
    width: 17em;

}

.imgBlock{
    display: flex;
    width: 17em;
}
 
.detailBlock{
    display:flex;
    flex-direction: column;
    padding: 1% 8% 1% 8%; 
}

.titleBlock{
    margin-top: 15%;
    font-size:small;
}

.descBlock{
    margin-top: 5%;
    font-size: small;
    
}
.categorieBlock{
    margin-top: 40px;
    font-size: medium;
}
#categorieBlock{
    margin: 0;
    padding: 4px;
}

/************ section 3 ********************/
.sectionGreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #054553;
    color:#d0cccc;
}

.SectionTitle{
    padding-top: 3em;
}

.imgDiv{
    padding-right: 2em;
}

.imgSection{
    display: flex;
    flex-wrap: wrap;
    padding: 2em 7em 3em 7em;
}
.imgBlock2{
    display: flex;
    width: 100%;
}
.textSection{
    padding-top: 1em;
    padding-bottom: 1em;
}
#textSection{
    font-size: small;
}

.buttonSection{
   padding: 0;
}
.buttonDiv{
    padding-top: 2em;
    padding-bottom: 2em;
}
/************ section 5 ********************/
.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F1F2F3;
}
.titleSec5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3em;   
}
.blocDoublepic{
    display: flex;
    padding: 2% 7% 3% 7%;
}
.blocPicSec5{  
    margin-left: 2%;
    background-color:#ffffff;
}
.imgBlock5{
    width: 100%;
}
/**/
.detailBlock5{
    display:flex;
    flex-direction: column;
    padding: 1% 8% 1% 8%; 
}

.titleBlock5{
    margin-top: 5%;
}

.descBlock5{
    margin-top: 5%;
    font-size: small;
    
}
.categorieBlock5{
    margin-top: 40px;
    font-size: medium;
}

/************ section 6 ********************/
.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F1F2F3;
}
.PicSec6{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    padding: 1% 5% 2% 5%;
}
.blocPicSec6{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    background-color:#ffffff;
}

.imgBlock6{
    width: 100%;
}
#imgBlock6{
    width: 100%;
}
.detailBlock6{
    display:flex;
    flex-direction: column;
    padding: 1% 8% 1% 8%; 
}

.titleBlock6{
    margin-top: 5%;
}

.descBlock6{
    margin-top: 5%;
    font-size: small;
    
}
.categorieBlock6{
    margin-top: 40px;
    font-size: medium;
}

/************ section 7 Bannier Boutiques ********************/
.section7{
    padding: 1% 5% 2% 5%;
    background-color: #F1F2F3;
}
.imgBlocSec7{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: beige;
    padding-top: 4%;
    padding-left: 4%;
 
}
.titleSec7{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;  
}
.logoBgSec7 {   
    width: 70%;
    margin-bottom: 5%;
    margin-top: 10%;
}

.imgBgSec7{
    display: flex;
    width: 100%;
}
/************ section 8  ********************/

.section8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F1F2F3;
}
.titleSec8{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blocImgSec8{
    display: flex;
    justify-content: center;
    padding: 2em 5em 3em 5em;

}
.bloc8{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.imgBlock8{
    width: 100%;
}
.detailBlock8{
    display:flex;
    padding: 5% 8% 1% 0%; 
}
/************ section 9  ********************/

.section9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 5% 2% 5%;
    background-color: #F1F2F3;
}

.titleSec9{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
}
.sectionBaner9{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;    
}

.bgSec9{
    display: flex;
    width: 100%;
}


.textSec9{
    color: azure;
    width: 19em;
    font-size:xx-large;
    text-align: center;
    padding-bottom: 1em;
}
.bgBannierRespSec9{
    display: none;
  }
/************ section 10 ********************/
.section10{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 5em 2em 5em;
}
.iconSec10{
    padding-top: 1%;
}

/************ Footer ********************/
.footer{
    display: flex;
    flex-direction: column;
}
.blocLogo{
    display: flex;
    justify-content: center; 
}
.footerLogo {
    width: 100px;
}
.footerUl{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: xx-small;
}
.copyright{
    text-align: center;
    font-size: xx-small;
    padding-top: 4%;
    padding-bottom: 4%;
}


/************** les media query **************/

@media screen and (max-width: 800px) {
    .menuToggle{
      display: block;
    }
    .header{
        display: none;
    }
    .logoHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 4%;
        padding-top: 1%;
    }

    .bgstitch2{
        display: none;
    }
    .bgstitch2Resp{
        display: block;
    }

    .sectionBaner{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e9f1f6;
        width: 100%;
        margin: 0;
    }
    .testBanner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse
       }
    
    .blocDoublepic{
        display: flex;
        flex-wrap: wrap;
    }
    
    .PicSec6{
        display: flex;
        flex-wrap: wrap;
    }
    .imgBlocSec7{
        position: relative;
        flex-wrap: wrap;
        background-color: #0c0c3b;
        width: 100%;
        padding: 2%;
        font-size: small;
    }  
    .logoBgSec7 {   
        width: 45%;
        margin-bottom: 4%;
        margin-top: 5%;
    }
    .testSec7{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse
    }
    .blocImgSec8{
        flex-wrap: wrap;
    }
    .sectionBaner9{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        background-color: #0e0e7a;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: 0;
    }
    .testSec9{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse
    }
    .textSec9{
        font-size: smaller;
    }
    .bgBannierRespSec9{
        display: block;
      }
    .bgBannierSec9{
        display: none;
    }
  }